#shadowbox {
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display:none;
}

.popupwin { 
    width: 300px;
    min-height: 230px;
    background-color: rgb(240, 248, 255);
    margin: auto;
    text-align: center;
    border-radius: 0px 9px 0px 0px;
    
    padding-bottom: 10px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -233.5px;
    margin-left: -150px;
    
}

#addCar {
    background-color: #cccccc;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #404040;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 12px;
    -webkit-appearance: none;
    width: 260px;
    
}

#hidepopup {
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    width: 18px;
    float: right;
}

#addcarform input[type="text"] {
    border: 1px solid #292829;
    padding: 5px 2px;
    width: 230px;
}