.reservationForm {
    margin: 20px 0 0 20px;
    padding-bottom: 20px;
    
}

#resForm {
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    text-align: center;
    margin: auto;
}

select, form input {
    width: 140px;
}