html {
    background: url(/img/cars/bg_img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 0;
    margin: 0;
}

.logo {
    width: 200px;
    position: relative;
    float: left;
    margin: 5px;
}

.header-right {
    position: relative;
    float: left;
}

.header {
    height: auto;
    background-color: #292829;
    position: absolute;
     width: 100%;
}

#login-form {
    background-color: #363636;
    width: 300px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -233.5px;
    margin-left: -150px;
}

#login-form h2 {
    background-color: #292829;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    color: #fff;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#login-form h3 {
    color: #fff;
    margin: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

#in {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#in a:visited {
    text-decoration: none;
    color: dodgerblue;
}

#in a {
    text-decoration: none;
    color: dodgerblue;
}

#login-form fieldset {
    border: none;
    padding: 20px;
    position: relative;
}

#login-form fieldset form {
    overflow: hidden;
    width: 270px;
}

#login-form fieldset form input[type="email"] {
    border: 1px solid #292829;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    padding: 12px 10px;
    width: 238px;
    -webkit-appearance: none;
}

#login-form fieldset form input[type="password"] {
    border: 1px solid #292829;
    border-top: none;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    padding: 12px 10px;
    width: 238px;
    -webkit-appearance: none;
}

#login-form fieldset form input[type="text"] {
    border: 1px solid #292829;
    border-top: none;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    padding: 12px 10px;
    width: 238px;
    -webkit-appearance: none;
}

.placeholder::-webkit-input-placeholder {
    color: black;
}

#login-form fieldset form input[type="date"] {
    border: 1px solid #292829;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    padding: 12px 10px;
    width: 238px;
    -webkit-appearance: none;
}

#login-form fieldset form input[type="button"] {
    background-color: #ebebeb;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 12px;
    -webkit-appearance: none;
    width: 260px;
}

#wrapper {
	max-width: 960px;
	margin: auto;
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 15px;
    margin-top: 10px;
}

#alogo {
    height: 100px;
    margin: 10px;
}

.cars {
    height: 150px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

tr, td {
    border: 1px solid black;
}

td {
    width: 20%;
}

#result {
    text-align: center;
    font-size: 18px;
}

td.car_name {
    text-align: center;
    font-size: 18px;
}

td.car_price {
    text-align: center;
    font-size: 18px;
}

#btnSubmit {
    text-align: center;
}

#btnOk {
    float: right;
}

#userName {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}